<?xml version="1.0"?>
<?xml-model href="http://download.ros.org/schema/package_format3.xsd" schematypens="http://www.w3.org/2001/XMLSchema"?>
<package format="3">
  <name>{{project_name}}</name>
  <version>{{redf.version}}</version>
  <description>{{redf.description}}</description>
  {%- for maintainer in redf.maintainers %}
  <maintainer email="{{maintainer.email}}">{{maintainer.name}}</maintainer>
  {%- endfor %}
  <license>{{redf.license}}</license>

  <depend>rclcpp</depend>
  {%- if have_actions %}
  <depend>rclcpp_action</depend>
  {%- endif -%}
  {%- for pkg in packages %}
  <depend>{{pkg}}</depend>
  {%- endfor %}

  <buildtool_depend>ament_cmake</buildtool_depend>

  <export>
    <build_type>ament_cmake</build_type>
  </export>
</package>
